<div class="col-lg mt-4">
  <h2 class="mb-3">Experience</h2>
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h4>{{ item.title }}</h4>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <dl>
            {% for des in item.description %}
              <li style="font-size: small;">
                {{ des }}
              </li>
            {% endfor %}
          </dl>

        </div>
      </div>
    {% endfor %}
  </div>
</div>